<section class="vh-100 bg-image"
  style="background-image: url('../../assets/bg.png');background-repeat: no-repeat;">
  
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;margin-top: 30%; margin-bottom: 10%;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Logo Here</h2>

                    <form #signupForm="ngForm" (ngSubmit)="signUp()"> 
                      <h2 class="text-center mb-1 text-primary">Regiser Yourself</h2>
                <p class="text-center mb-5 text-secondary font-weight-bold">SignUp to Continue to xyz</p>


                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">UserName</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: transparent;"><img src="../../assets/profile.png"></span>
                    <input type="text" [(ngModel)]="userName" name="userName" id="form3Example1cg" placeholder="UserName" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: transparent;"><img src="../../assets/profile.png"></span>
                    <input type="text" [(ngModel)]="name" name="name" id="form3Example1cg" placeholder="Enter your Name" class="form-control form-control-lg" />
                  </div>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: transparent;"><img src="../../assets/email.png"></span>
                  <input type="email" [(ngModel)]="email" name="email" id="form3Example3cg" placeholder="Enter your Email"  class="form-control form-control-lg" /></div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Phone</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: transparent;"><img src="../../assets/mobile.png"></span>
                  <input type="number" [(ngModel)]="phone" name="phone" id="form3Example4cdg" placeholder="Enter your Phone" class="form-control form-control-lg" /></div>
                </div>

                <div class="form-outline mb-4" style="position: relative;">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="Enter your Password" class="form-control form-control-lg" />
                  <img src="../../assets/eye.png" class='bx bx-hide eye-icon' (click)="passwordShow()">
                </div>

  

                <div class="form-check d-flex mb-3">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    Remember me
                  </label>
                </div>

                <div class="d-flex">
                  <button type="submit" [disabled]="signupForm.invalid"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">SignUp</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>