.login .profile {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.login .profile img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.login .info {
    padding: 10px;
    width: 100;
}

.login:hover .info {
    display: block;
}
.login {
    display: flex;
    align-items: center;
    position: relative;
    float:right
}
ul li{
    list-style: none;
    display: block;
}
a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    padding: 14px 16px;
    font-size: 18px;
    position: relative;
}
ul{
    display: none;
    padding: 10px;
    border-radius: 5px;
    top: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
position: absolute;
}
.login:hover ul {
    display: block;
}

.notification {
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  .bell{
    padding: 10px 26px;
    float: right;
  }
    
  .notification .badge {
    position: absolute;
    top: 10px;
    right: 18px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #1F75EC;
    color: white;
  }