<div class="container">
    
<div class="login">
      <div class="info">
        <div class="profile">
        <img src="../../assets/IMAGE.png" alt="Profile">
        <h3>{{ userName }}<img src="../../assets/Arrow.png" style="width: 12px; height: 15px;"></h3></div>
      <ul>
          <li><img src="../../assets/profileicon.png" alt="Profile"><a href="#">Profile</a></li>
          <li><img src="../../assets/favourite.png" alt="Favourites"><a href="#">Favourites</a></li>
          <li><img src="../../assets/history.png" alt="History"><a href="#">History</a></li>
          <li><img src="../../assets/Exit.png" alt="Logout"><a routerLink="" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="bell">
    <a href="#" class="notification">
        <span><img src="../../assets/icon.png" alt=""></span>
        <span class="badge">3</span>
      </a></div>
</div>