<div class="container" style="background-color: #F9F9F9;">
    <div class="row mt-3">
      <div class="col text-start">
        <h1>Dashboard</h1>
        <hr style="border: 4px solid #36A2EB; width: 10%; margin-top: 0;">
        <h5 style="color:  #494949; margin-top: -10px;">Home</h5>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/degree.png" style="width: 30%; height: 15%;">
          <div class="card-body">
            <span class="card-text" style="color:#9CA4AB;">Toatl Students</span>
            <p class="card-number">300</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/teacher.png" style="width: 30%; height: 15%;">
          <div class="card-body">
            <span class="card-text" style="color:#9CA4AB;">Toatl Teachers</span>
            <p class="card-number">20</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/parent.png" style="width: 30%; height: 15%;">
          <div class="card-body">
            <span class="card-text" style="color:#9CA4AB;">Toatl Parent</span>
            <p class="card-number">150</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/Staff.png" style="width: 30%; height: 15%;">
          <div class="card-body">
            <span class="card-text" style="color:#9CA4AB;">Toatl Staff</span>
            <p class="card-number">15</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/Admission.png" style="width: 30%; height: 15%;">
          <div class="card-body">
            <span class="card-text" style="color:#9CA4AB;">New Admissions</span>
            <p class="card-number">250</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col-md-10">
        <app-line-chart></app-line-chart>
      </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-5" style="background-color:#379417; border: 2px solid #379417; border-radius: 8px;margin-left: 12px;">
            <div class="card" style="background-color: transparent; border: none;">
              <img class="card-img-top" src="../../assets/Wallet.png" style="width: 10%; height: 5%;">
              <div class="card-body">
                <span class="card-text" style="color:#fff; font-size: 22px;">Income Report</span>
                <p class="card-number" style="color:#fff; font-size: 26px; font-weight: bold;">Pkr 23,453</p>
              </div>
            </div>
          </div>
          <div class="col-md-5" style="background-color:#f3416c; border: 2px solid #f3416c; border-radius: 8px;margin-left: 12px;">
            <div class="card" style="background-color: transparent; border: none;">
              <img class="card-img-top" src="../../assets/event.png" style="width: 10%; height: 5%;">
              <div class="card-body">
                <span class="card-text" style="color:#fff; font-size: 22px;">Upcoming Event</span>
                <p class="card-number" style="color:#fff; font-size: 26px; font-weight: bold;">Quid E Azam day</p>
                <div class="date">
                <span style="color:#fff;">Mon 25 Dec 2023</span></div>

              </div>
            </div>
          </div>


    </div>
  </div>
  